page {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f7f6f2
}

.full-screen {
    position: relative;
    width: 100%;
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}

.no-bg-color {
    background-color: unset !important;
}

.rotate-90 {
    transform: rotate(90deg);
}